

<div class="queryarea">
    <a routerLink="/query"><img class="logo" src="assets/diveXplore_.png"></a>
    <span class="headertitle">Cluster Exploration</span>
</div>

<div class="link-container">
    <div class="link-list">
      <!-- <a *ngFor="let link of links" [routerLink]="['.']" (click)="onSelectLink(link)">{{ link.title }}</a> -->
      <p *ngFor="let c of clusters" (click)="queryCluster(c.cluster_id)">{{c.name}} ({{c.count}})</p> &nbsp;&nbsp;
    </div>
</div>

<!--
<div class="iframe-container">
    <iframe sandbox="allow-scripts" [src]="selectedLink?.url | safe"></iframe>
</div>
-->

<div class="cluster">
  <img *ngFor="let img of summaries" [src]="summariesBase + '/' + img" (click)="showVideoShots(img)">
</div>


<!-- <div class="cluster" [innerHTML]="selectedLink?.content"></div> -->

<script>
    const images = document.querySelectorAll('.image');
const zooms = document.querySelectorAll('.zoom');

// Loop through each image and add a click event listener
images.forEach((image, index) => {
    image.addEventListener('click', () => {
        // Hide all other zoomed images
        zooms.forEach((zoom) => {
            if (zoom !== zooms[index]) {
                zoom.style.display = 'none';
            }
        });

        // Show the zoomed image for the clicked image
        zooms[index].style.display = 'block';
        zooms[index].parentNode.style.overflow = 'visible';
    });

    // Add a click event listener to the zoomed image to hide it
    zooms[index].addEventListener('click', () => {
        zooms[index].style.display = 'none';
        zooms[index].parentNode.style.overflow = 'hidden';
    });
});
</script>


  
<div class="statusbar">
    <span class="{{clipService.connectionState}}">CLIP</span>
    <span class="{{nodeService.connectionState}}">Node</span>
    <span class="{{vbsService.vbsServerState}}">DRES</span>
  <!--
    CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
    Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
    VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
  -->
  
    &nbsp; 
    <span>User: {{vbsService.activeUsername}}</span>
  
    <!--
    <span class="whiteColor">Topic Answer:</span> 
    <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
    <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>
    -->
  
    <span class="spacer">&nbsp;</span>
  
    <span>
      <select class="grayBackground" [(ngModel)]="this.selectedServerRun" value="0" (change)="selectRun()">
        <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.selectedServerRun === undefined) || (i === +this.selectedServerRun!)">{{r}}</option>
      </select>
    </span>
    &nbsp;
    <span>{{statusTaskInfoText}}</span>
    &nbsp;
    <span class="remainingTimeInfo">{{statusTaskRemainingTime}}</span>
    
  
  </div>
    
  <br/>&nbsp;
  <br/>&nbsp;
  <br/>&nbsp;