<html><head><title>Cluster 16</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 16 (5 items)</h1>
<a href="cluster15.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster17.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/01370/01370_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/01370/01370_summary_1_1_1_1.jpg"><a href="localhost:4200/video/01370">01370</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/01580/01580_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/01580/01580_summary_1_1_1_1.jpg"><a href="localhost:4200/video/01580">01580</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/08779/08779_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/08779/08779_summary_1_1_1_1.jpg"><a href="localhost:4200/video/08779">08779</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/08790/08790_summary_2_2_2_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/08790/08790_summary_2_2_2_1.jpg"><a href="localhost:4200/video/08790">08790</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/12996/12996_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/12996/12996_summary_1_1_1_1.jpg"><a href="localhost:4200/video/12996">12996</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
