<html><head><title>Cluster 120</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 120 (5 items)</h1>
<a href="cluster119.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster121.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/03758/03758_summary_3_5_3_2.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/03758/03758_summary_3_5_3_2.jpg"><a href="localhost:4200/video/03758">03758</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/06689/06689_summary_3_5_3_2.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/06689/06689_summary_3_5_3_2.jpg"><a href="localhost:4200/video/06689">06689</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/07656/07656_summary_3_5_3_2.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/07656/07656_summary_3_5_3_2.jpg"><a href="localhost:4200/video/07656">07656</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/10162/10162_summary_3_8_3_3.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/10162/10162_summary_3_8_3_3.jpg"><a href="localhost:4200/video/10162">10162</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/10321/10321_summary_5_28_6_5.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/10321/10321_summary_5_28_6_5.jpg"><a href="localhost:4200/video/10321">10321</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
