<html><head><title>Cluster 82</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 82 (2 items)</h1>
<a href="cluster81.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster83.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/08855/08855_summary_5_25_5_5.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/08855/08855_summary_5_25_5_5.jpg"><a href="localhost:4200/video/08855">08855</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/12824/12824_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/12824/12824_summary_1_1_1_1.jpg"><a href="localhost:4200/video/12824">12824</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
