<html><head><title>Cluster 10</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 10 (5 items)</h1>
<a href="cluster9.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster11.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/04649/04649_summary_5_38_6_6.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/04649/04649_summary_5_38_6_6.jpg"><a href="localhost:4200/video/04649">04649</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/06123/06123_summary_5_43_7_6.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/06123/06123_summary_5_43_7_6.jpg"><a href="localhost:4200/video/06123">06123</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/06313/06313_summary_5_60_10_6.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/06313/06313_summary_5_60_10_6.jpg"><a href="localhost:4200/video/06313">06313</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/06476/06476_summary_5_53_8_6.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/06476/06476_summary_5_53_8_6.jpg"><a href="localhost:4200/video/06476">06476</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/11718/11718_summary_5_45_7_6.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/11718/11718_summary_5_45_7_6.jpg"><a href="localhost:4200/video/11718">11718</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
