<html><head><title>Cluster 18</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 18 (4 items)</h1>
<a href="cluster17.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster19.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/04914/04914_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/04914/04914_summary_1_1_1_1.jpg"><a href="localhost:4200/video/04914">04914</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/06923/06923_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/06923/06923_summary_1_1_1_1.jpg"><a href="localhost:4200/video/06923">06923</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/08102/08102_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/08102/08102_summary_1_1_1_1.jpg"><a href="localhost:4200/video/08102">08102</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/08402/08402_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/08402/08402_summary_1_1_1_1.jpg"><a href="localhost:4200/video/08402">08402</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
