<html><head><title>Cluster 71</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 71 (1 items)</h1>
<a href="cluster70.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster72.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/12021/12021_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/12021/12021_summary_1_1_1_1.jpg"><a href="localhost:4200/video/12021">12021</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
