<html><head><title>Cluster 38</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 38 (1 items)</h1>
<a href="cluster37.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster39.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/07685/07685_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/07685/07685_summary_1_1_1_1.jpg"><a href="localhost:4200/video/07685">07685</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
