<html><head><title>Cluster 11</title>
<link rel="stylesheet" href="styles.css"></head><body><h1>Cluster 11 (2 items)</h1>
<a href="cluster10.html">prev</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="cluster12.html">next</a></br>
<div id="container">
<img class="image" src="https://divexplore.itec.aau.at/summaries/12529/12529_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/12529/12529_summary_1_1_1_1.jpg"><a href="localhost:4200/video/12529">12529</a><br/>
<img class="image" src="https://divexplore.itec.aau.at/summaries/13289/13289_summary_1_1_1_1.jpg"><img class="zoom" src="https://divexplore.itec.aau.at/summaries/13289/13289_summary_1_1_1_1.jpg"><a href="localhost:4200/video/13289">13289</a><br/>
</div></body>
<script src="myscripts.js"></script>
</html>
