

<div class="queryarea">
    <a routerLink="/query"><img class="logo" src="assets/diveXplore_.png"></a>
    <span class="headertitle">v{{videoid}} ({{keyframes.length}} shots)</span>
    <span *ngIf="this.hasMetadata(); else simplemetadata" class="videometainfo">
        <span class="headerinfo">{{vtitle}}</span>
        <span class="headerkeyword">[by {{vchannel}}]</span>
        <span class="headerlabel">{{asTimeLabel(vduration.toString(),false)}}</span>
        <span class="headerlabel">{{fps}} fps</span>
        <span class="headerlabel">{{vduration}} secs</span>
    </span>
    <ng-template #simplemetadata>
        <span class="headerlabel">{{fps}} fps</span>
    </ng-template>
    <button class="videosubmit" (click)="submitCurrentTime()">Submit Frame</button> <span class="videosubmitinfo">{{asTimeLabel(this.currentVideoTime.toString())}}</span>
</div>

<div class="videobox">
    <video #videoplayer src="{{videoURL}}" (timeupdate)="setCurrentTime($event)" width="960" height="540" controls></video>
</div>

<div (mouseover)="showButtons = i" (mouseleave)="showButtons = -1" class="{{getQueryResultCSSClass(this.framenumbers[i])}}" *ngFor="let item of keyframes; let i = index">
    <img src="{{keyframeBaseURL}}/{{item}}" width="320" height="180" (click)="gotoTimeOfShot(i)">
    <div class="righttopcorner">
        <span class="label">{{timelabels[i]}}</span>
    </div>
    <div class="lefttopcorner">
        <span class="label">
            f{{this.framenumbers[i]}}
        </span>
    </div>
    <div class="leftbottomcorner">
        <button *ngIf="showButtons === i" (click)="performFileSimilarityQuery(item)" class="resultaction">Similar</button>
    </div>
    <div class="rightbottomcorner">
        <button *ngIf="showButtons === i" class="submitbutton" (click)="submitResult(i)">Submit</button>
    </div>
</div>


<div class="footerinfo" *ngIf="this.hasMetadata()" >
    <span class="videometainfo">
        <h3 class="videoheader">Video Description</h3>
        <span class="headerdescription" [innerHTML]="vdescription"></span>
        <h3 class="videoheader">Video Tags</h3>
        <span class="keyword" *ngFor="let tag of vtags">{{tag}}</span>
        <h3 class="videoheader">Categories</h3> 
        <span class="keyword" *ngFor="let cat of vcategories">{{cat}}</span>
        <h3 class="videoheader">Video Channel</h3>
        <span class="keyword">{{vchannel}}</span>
        <span *ngIf="vtexts.length > 0">
        <h3 class="videoheader">Detected Text</h3>
        <span class="keyword" *ngFor="let txt of vtexts">{{txt['frame']}}: {{txt['text']}}</span>
        </span>
        <span *ngIf="vspeech">
        <h3 class="videoheader">Detected Speech</h3>
        <span class="keyword">{{vspeech['text']}}</span>
        </span>
    </span>
</div>

<app-message-bar></app-message-bar>

<div class="statusbar">
    <span class="{{clipService.connectionState}}">CLIP</span>
    <span class="{{nodeService.connectionState}}">Node</span>
    <span class="{{vbsService.vbsServerState}}">DRES</span>
  <!--
    CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
    Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
    VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
  -->
  
    &nbsp; 
    <span>User: {{vbsService.activeUsername}}</span>
    
    <span class="minispacer">&nbsp;</span>
  
    <span class="whiteColor">Topic Answer:</span> 
    <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
    <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>
    
    <span class="spacer">&nbsp;</span>
  
    
  <span>
    <select class="grayBackground" [(ngModel)]="this.vbsService.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.vbsService.selectedServerRun === undefined) || (i === this.vbsService.selectedServerRun!)">{{r}}</option>
    </select>
  </span>

    &nbsp;
    <span>{{statusTaskInfoText}}</span>
    &nbsp;
    <span class="remainingTimeInfo" *ngIf="this.vbsService.selectedServerRun !== undefined" >{{getRemainingTaskTime()}}</span>
    
    <span class="submissionresponse">{{this.vbsService.submissionResponse}}</span>

    <span class="spacer2">&nbsp;</span>
    <!--<span class="spacer2">&nbsp;</span>-->
    <span>DRES RTT: {{vbsService.serverTimeDiff}} ms</span>  

  </div>
    
  <br/>&nbsp;
  <br/>&nbsp;
  <br/>&nbsp;