.video {
    position: absolute;
    bottom: 60px;
    left: 0;
}

.videosubmit {
    //background-color: rgba(0,139,139,0.8);
    background-color: rgba(0,110,0,0.8);
    font-size: 16px;
    color: white;
}