.video {
    position: absolute;
    bottom: 60px;
    left: 0;
}

.videosubmit {
    //background-color: rgba(0,139,139,0.8);
    background-color: rgba(0,110,0,0.8);
    font-size: 18pt;
    height: 50px;
    color: white;
    margin-bottom: 42px;
    margin-left: 16px;
}

.videosubmitinfo {
    //background-color: rgba(0,139,139,0.8);
    padding-left: 20px;
    color: rgba(0,110,0,0.8);
    font-size: 18pt;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 42px;
}

.videobox {
    display: block;
    padding: 16px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
}

.videoheader {
    border-bottom: 2px solid white;
    padding: 12px;
}

.queryresult:hover {
    cursor: pointer;
}

.footerinfo {
    float: left;
    padding: 16px;
    padding-bottom: 100px;
}

.minispacer {
    margin-right: 5%;
}

.spacer {
    margin-right: 40px;
}

.spacer2 {
    margin-right: 18%;
}

.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
}

.whiteColor {
    color: white;
}

.submissionresponse {
    width: 50px;
}

.topicanswerbutton {
    background-color: rgba(0,110,0,0.8);
    color: white;
    padding: 2px;
    width: 60px;
}

#topicanswer {
    font-size: 20px;
    height: 26px;
    width: 25%;
    background-color: rgb(220,220,220);
}

