

<div class="queryarea">
    <a routerLink="/query"><img class="logo" src="assets/diveXplore_.png"></a>
    <span class="headertitle">{{videoid}} ({{keyframes.length}} shots)</span>
    <span *ngIf="this.hasMetadata(); else simplemetadata" class="videometainfo">
        <span class="headerinfo">{{vtitle}}</span>
        <span class="headerkeyword">[by {{vchannel}}]</span>
        <span class="headerlabel">{{asTimeLabel(vduration.toString(),false)}}</span>
        <span class="headerlabel">{{fps}} fps</span>
        <span class="headerlabel">{{vduration}} secs</span>
    </span>
    <ng-template #simplemetadata>
        <span class="headerlabel">{{fps}} fps</span>
    </ng-template>
</div>


<div class="{{getQueryResultCSSClass(this.framenumbers[i])}}" *ngFor="let item of keyframes; let i = index">
    <img src="{{item}}" width="320" height="180" (click)="gotoTimeOfShot(i)">
    <div class="lefttopcorner">
        <span class="label">{{timelabels[i]}}</span>
    </div>
    <div class="righttopcorner">
        <span class="label">
            {{this.framenumbers[i]}}
        </span>
    </div>
    <div class="leftbottomcorner">
        <button (click)="performFileSimilarityQuery(item)" class="resultaction">Similar</button>
    </div>
    <div class="rightbottomcorner">
        <button class="submitbutton" (click)="submitResult(i)">Submit</button>
    </div>
</div>

<div class="videobox">
    <video #videoplayer src="{{videoURL}}" (timeupdate)="setCurrentTime($event)" width="960" height="540" controls></video>
    <button class="videosubmit" (click)="submitCurrentTime()">Submit: {{asTimeLabel(this.currentVideoTime.toString())}}</button>
</div>
<div class="footerinfo" *ngIf="this.hasMetadata()" >
    <span class="videometainfo">
        <h3>Description</h3>
        <span class="headerdescription" [innerHTML]="vdescription"></span>
        <h3>Tags</h3>
        <span class="keyword" *ngFor="let tag of vtags">{{tag}}</span>
        <h3>Categories</h3> 
        <span class="keyword" *ngFor="let cat of vcategories">{{cat}}</span>
        <h3>Channel</h3>
        <span class="keyword">{{vchannel}}</span>
    </span>
</div>

<div class="statusbar">
    CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
    Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
    VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
    <span class="help">KEYBOARD: <b>1-9</b>: goto page, <b>left/right/tab</b>: switch page, <b>e</b>: extend query, <b>q</b>: edit query, <b>x</b>: reset query</span>
</div>