:host {
  display: block;
  padding: 16px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  margin-top: 0; 
  margin-bottom: 16px;
  padding-left: 20px;
}

li {
  margin-top: 0; 
  margin-bottom: 8px;
}
