.statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.whiteColor {
    color: white;
}

#topicanswer {
    font-size: 20px;
    height: 26px;
    width: 40%;
    background-color: rgb(220,220,220);
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
    margin-right: 10px;
}

.submissionresponse {
    width: 50px;
}

.reset-submission-button {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(160, 0, 0);
    }
  }
