.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.whiteColor {
    color: white;
}

#topicanswer {
    font-size: 20px;
    height: 26px;
    width: 25%;
    background-color: rgb(220,220,220);
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
}

.submissionresponse {
    width: 50px;
}

.reset-submissions-button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #ffcccc;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #ffb3b3;
    }
  }
