
div.queryarea {
    background-color: rgba(29,30,33,1);// darkgray;//darkcyan;
    padding: 8px;
    color: white;
    //float: left;
}

img.logo {
    padding-right: 4px;
    vertical-align: top;
}

.queryarea select {
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

input[type="text"] {
    font-size: 20px;
    height: 26px;
    width: 60%;
}

button, select {
    font-size: 18px;
    height: 32px;
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.queryresult {
    margin-bottom: 2px;
    margin-right: 2px;
    position: relative;
    float: left;
}

.videolabel {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    right: 0;
    top: 0;
    padding: 2px;
}

.videolabel a {
    color: black;
}

.videolabel a:visited {
    color: gray;
}

.resultnum {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    left: 0;
    top: 0;
    padding: 2px;
}

.resultactions {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    color: black;
    left: 0;
    bottom: 0;
    padding: 2px;
}

.submitbutton {
    background-color: rgba(0,139,139,0.8);
    //background-color: rgba(0,110,0,0.8);
    font-size: 16px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
}

.statusbar {
    position: absolute;
    background-color: rgba(73,76,84,1); //lightgray;
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightgray;
}

button[class='disconnected'] {
    background-color: red;
    color: white;
}

button[class='connected'] {
    background-color: green;
    color: white;
}

span.help {
    float: right;
    padding: 6px;
}