<div class="queryarea">
  <img class="logo" src="assets/diveXplore_.png">
  <select [(ngModel)]="selectedDataset" (change)="resetPageAndPerformQuery()">
    <option *ngFor="let d of datasets" [ngValue]="d.id">{{d.name}}</option>
  </select> 
  <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
  <button (click)="performTextQuery()">Search</button>
  <button (click)="resetQuery()">x</button>
</div>

<div class="queryarea">
  Pages: 
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle *ngFor="let p of pages" [value]="p" (click)="performQuery()" [disabled]="totalReturnedResults == 0">{{p}}</mat-button-toggle> 
  </mat-button-toggle-group>
</div>
  
<br/>

<div class="queryresult" *ngFor="let item of queryresults; let i = index">
  <img src="{{item}}" width="320" height="180">
  <div class="resultnum">{{this.queryresult_num[i]}}.</div>
  <div class="videolabel"><a routerLink="/shots/{{this.queryresult_ids[i]}}" routerLinkActive="active">{{this.queryresult_ids[i]}}</a></div>
  <button (click)="performSimilarityQueryForIndex(i)" class="resultactions">Similar</button>
  <button *ngIf="!this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button>
</div>

<div class="statusbar">
  Query server: <button class="{{clipSocketWorkerState}}" (click)="checkCLIPConnection()">{{clipSocketWorkerState}}</button>
  VBS Server: <button class="{{vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsServerState}}</button>
  <span class="help">KEYBOARD: <b>1-9</b>: goto page, <b>left/right/tab</b>: switch page, <b>e</b>: extend query, <b>q</b>: edit query, <b>x</b>: reset query</span>
</div>