<div *ngIf="showToast" @toastAnimation class="toast-class">
    <div class="toast-content">
      <div class="toast-text">
        <div id="message-line-one"><u>Shared Keyframe:</u> {{ toastMessage }}</div>
        <div id="message-line-two"><u>Query:</u> {{ toastMessageNewLine }}</div>
      </div>
    </div>
    <img *ngIf="imageSrc" [src]="imageSrc" class="toast-image" alt="Toast image">
    <div class="toast-buttons">
      <button mat-flat-button id="open-btn" class="basicButton" (click)="openLink()">
      open
      </button>
      <button mat-flat-button id="close-btn" class="basicButton" (click)="close()">
      close
      </button>
    </div>
  </div>
  