:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--app-modal-container-background, rgba(0, 0, 0, 0.5));
  }
  
  .expl-dialog {
    padding: 40px;
    background-color: var(--app-modal-background, white);
    border-radius: var(--app-modal-border-radius, 8px);
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 80px - 64px);
    margin: 32px 0;
  
    .header, .body {
      margin: 0 32px;
    }
  
    .header {
        display: flex;
        justify-content: space-between; // This will spread the title and the close button across the row
    }
  
    .body {
      overflow: scroll;
    }

    h3 {
      font-weight: bold;
      text-align: center;
    }

    #close-icon:hover {
      cursor: pointer; // This will change the cursor to a pointer when hovering over the icon
    }
  }