
<div class="queryarea">
    <a routerLink="/query" (click)="reloadComponent()"><img class="logo" src="assets/diveXplore_.png"></a>
    <!--<button class="backbutton" (click)="this.backInHistory()"><-</button>-->
    <select [(ngModel)]="selectedDataset" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of datasets" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <select [(ngModel)]="selectedQueryType" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of this.getQueryTypes(this.selectedDataset)" [ngValue]="d.id">{{d.name}}</option>
    </select>
    <select [(ngModel)]="selectedVideoFiltering" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of videoFiltering" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
    <button class="searchButton" (click)="performNewTextQuery()">Search</button>
    
    <button class="browseButton" (click)="browseClusters()">Xplore</button>
    <button class="historyToggle" (click)="toggleHistorySelect()">History</button>
    <button class="resetButton" (click)="resetQuery()">Reset</button>
    
    <div class="historySelect" #historyDiv>
      <select [(ngModel)]="selectedHistoryEntry" value="" (change)="performHistoryQuery()">
        <option value="-1" selected disabled>-- Search History --</option>
        <option *ngFor="let h of history(); let i = index" [ngValue]="i">{{h}}</option>
      </select>
    </div>

    <button mat-icon-button (click)="showHelp()">
      <mat-icon>help</mat-icon>
    </button>
    
    <button mat-icon-button (click)="toggleConfigDialog()">
      <mat-icon>settings</mat-icon>
    </button>
</div>

<!-- Config Modal -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true" *ngIf="showConfigForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="configModalLabel">Configuration</h3>
        <!--<button type="button" class="close" aria-label="Close" (click)="closeConfigDialog()">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <app-config-form (closeForm)="closeConfigDialog()"></app-config-form>
      </div>
    </div>
  </div>
</div>


  
<div class="queryarea">
  Pages: 
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle *ngFor="let p of pages" [value]="p" (click)="performQuery()" [disabled]="totalReturnedResults == 0">{{p}}</mat-button-toggle> 
  </mat-button-toggle-group>
  <span class="resultcount">{{this.queryresult_videoid.length}} results</span>
</div>
    
<br/>

<div *ngIf="showPreview" class="videopreview" #videopreview>
  <button class="videosummaryheader" (click)="showVideoShots(this.queryresult_videoid[this.selectedItem],this.queryresult_frame[this.selectedItem])">Video {{this.queryresult_videoid[this.selectedItem]}} ({{this.selectedItem+1}}/{{this.queryresult_videoid.length}})</button><br/>
  <img [src]="videopreviewimage" class="videopreviewimage" (click)="closeVideoPreview()">
</div>
  
<div (mouseover)="showButtons = i" (mouseleave)="showButtons = -1" class="queryresult" *ngFor="let item of queryresults; let i = index">
  <img src="{{keyframeBaseURL}}/{{item}}" width="{{imgWidth}}" height="{{imgHeight}}" (click)="selectItemAndShowSummary(i)" [ngClass]="{'blueborder': this.selectedItem == i}">
  <div class="lefttopcorner">
    <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'" class="resultnum">f{{this.queryresult_frame[i]}}</span>
  </div>
  <div class="righttopcorner">
      <!--<span class="label" (click)="this.queryForVideo(i)">
          <a [routerLink]="['/video',this.queryresult_videoid[i],this.queryresult_frame[i]]" target="_blank">{{this.queryresult_videoid[i]}}</a>
      </span>-->
      <button class="smalllabel" (click)="this.queryForVideo(i)">{{this.queryresult_videoid[i]}}</button>
  </div>
  <div class="leftbottomcorner">
    <!-- <button *ngIf="showButtons === i" (click)="showVideoPreview(i)" class="resultaction">Video-Preview</button> -->
    <button *ngIf="showButtons === i" (click)="showVideoShots(this.queryresult_videoid[i],this.queryresult_frame[i])" class="resultaction">Shotlist</button>
    <!-- <button *ngIf="showButtons === i" (click)="performSimilarityQueryForIndex(i)" class="resultaction">Similar</button> -->
    <button *ngIf="showButtons == i" (click)="performFileSimilarityQuery(item)" class="resultaction">Similar</button>
  </div>
  <div class="rightbottomcorner">
      <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button>
  </div>
</div>


<div *ngIf="nodeServerInfo !== undefined" class="full-message">
  {{nodeServerInfo}}
  <button (click)="nodeServerInfo = undefined">Close</button>
</div>

<div *ngIf="showHelpActive === true" class="full-help">
  <h4>Query Types</h4>
  <ul>
    <li><b>Free-Text</b>: most powerful search with OpenCLIP.</li>
    <li><b>OCR-Text</b>: database search for recognized text in keyframes (with Optical Character Recognition).</li>
    <li><b>Metadata</b>: database search for title, description, channel, and tags (all provided by video author).</li>
    <li><b>Speech</b>: database search for recognized speech.</li>
    <li><b>VideoId</b>: database search for a particular video id.</li>
  </ul>

  <h4>Thumbnail Actions</h4>
  <ul>
    <li>Click thumbnail (or press space) to open <b>preview video summary</b> view.</li>
    <li>Click <b>Shot-List</b> to open the video view with shots in a new tab.</li>
    <li>Click <b>Similar</b> to perform a <b>similarity query</b> in a new tab.</li>
    <li>Click <b>Submit</b> to send result to <b>DRES</b>.</li>
  </ul>
  
  <h4>Keyboard Shortcuts</h4>
  <ul>
    <li><b>left/right/tab</b>: switch page (or preview summary when in preview mode)</li>
    <li><b>1-9</b>: goto page</li>
    <li><b>e</b>: extend query</li>
    <li><b>q</b>: edit query</li>
    <!--<li><b>x</b>: reset query</li>-->
    <li><b>v</b>: open corresponding video in a new tab for current preview</li>
    <li><b>Space</b>: show/hide preview video summary of selected item</li>
    <li><b>Esc</b>: close preview video summary (alternative to Space)</li>
  </ul>
  <button (click)="showHelpActive = false">Close</button>
</div>

<app-message-bar></app-message-bar>
  
<div class="statusbar">
  <span class="{{clipService.connectionState}}">CLIP</span>
  <span class="{{nodeService.connectionState}}">Node</span>
  <span class="{{vbsService.vbsServerState}}">DRES</span>
<!--
  CLIP server: <button class="{{clipService.connectionState}}" (click)="checkCLIPConnection()">{{clipService.connectionState}}</button>
  Node server: <button class="{{nodeService.connectionState}}" (click)="checkNodeConnection()">{{nodeService.connectionState}}</button>
  VBS Server: <button class="{{vbsService.vbsServerState}}" (click)="checkVBSServerConnection()">{{vbsService.vbsServerState}}</button>
-->

  &nbsp; 
  <span>User: {{vbsService.activeUsername}}</span>
  <span *ngIf="vbsService.vbsServerState !== 'connected'" class="loginerror">Login-Error</span>
  
  <span class="tinyspacer">&nbsp;</span>

  <span class="whiteColor">Topic Answer:</span> 
  <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
  <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>
  

  <span class="spacer">&nbsp;</span>

  <span>
    <select class="grayBackground" [(ngModel)]="this.vbsService.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.vbsService.selectedServerRun === undefined) || (i === this.vbsService.selectedServerRun!)">{{r}}</option>
    </select>
  </span>
  &nbsp;
  <span>{{statusTaskInfoText}}</span>
  &nbsp;
  <span class="remainingTimeInfo" *ngIf="this.vbsService.selectedServerRun !== undefined" >{{getRemainingTaskTime()}}</span>
  
  <span class="minispacer">&nbsp;</span>

  <span class="submissionresponse">{{this.vbsService.submissionResponse}}</span>

  <!--<span class="spacer2">&nbsp;</span>-->
  <!--<span class="spacer2">&nbsp;</span>-->

  <span>DRES RTT: {{vbsService.serverTimeDiff}} ms</span>

</div>
  
<br/>&nbsp;
<br/>&nbsp;
<br/>&nbsp;