

input[type="text"] {
    font-size: 20px;
    height: 26px;
    width: 60%;
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.searchButton {
    background-color: rgb(227, 227, 158);
    color: black;
    margin-right: 40px;
}

.resetButton {
    background-color: red;
    margin-right: 40px;
}

.historySelect {
    float: right;
}

.historyToggle, .historySelect option {
    background-color: lightgray;
}
