

input[type="text"] {
    font-size: 20px;
    height: 26px;
    width: 57%;
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.searchButton {
    background-color: rgb(227, 227, 158);
    color: black;
    margin-right: 40px;
}

.resetButton {
    background-color: red;
}

.historySelect {
    float: right;
    padding-right: 20px;
    padding-bottom: 30px;
}

.historyToggle, .historySelect option {
    background-color: lightgray;
}

.videopreview {
    background-color: white;
    display: none;
    position: absolute;
    left: 5px;
    top: 150px;
    z-index: 10;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
