input[type="text"] {
    font-size: 20px;
    height: 26px;
    width: 35%;
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.queryarea select, input, button, .mat-icon-button {
    vertical-align: middle;
    // Other common styles for buttons
}


.searchButton {
    background-color: rgb(227, 227, 158);
    color: black;
    margin-right: 40px;
}

.browseButton {
    background-color: rgb(135, 161, 213);
}

.resetButton {
    background-color: rgb(242, 103, 103);
}

.historySelect {
    float: right;
    padding-right: 20px;
    padding-bottom: 30px;
}

.historyToggle, .historySelect option {
    background-color: lightgray;
}

.spacer {
    margin-right: 40px;
}

.spacer2 {
    margin-right: 18%;
}

.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
}

.whiteColor {
    color: white;
}

.submissionresponse {
    width: 50px;
}

#topicanswer {
    font-size: 20px;
    height: 26px;
    width: 25%;
    background-color: rgb(220,220,220);
}


.blueborder {
    border: 3px solid blue;
    box-sizing: border-box;
}

.light-red-background {
    background-color: rgb(250, 191, 191); /* Or any light-red color of your choice */
}  

.light-blue-background {
    background-color: lightblue; /* Or any blue color of your choice */
}

.gray-background {
background-color: rgb(210, 209, 209); /* Or any shade of gray you prefer */
}
  

.videopreview {
    background-color: rgba(255,255,255,0.75);
    display: none;
    position: absolute;
    left: 4px;
    top: 90px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.videosummaryheader {
    font-size: larger;
    font-weight: bold;
    color: black;
    background-color: rgba(128, 174, 244, 0.8);
    width: 100%;
    cursor: pointer;
    padding: 6px;
}

.videopreviewimage {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    width: 98%
}

.resultcount {
    padding-left: 10px;
}

.full-message {
    padding: 40px;
    background-color: #ffffe0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 20pt;
  }

  .full-help {
    padding: 40px;
    background-color: #ffffe0;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 12pt;
  }

  .full-help h4 {
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 10px;
  }

  .full-help ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* config-modal.component.css */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* high z-index to appear on top */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Add more styling as needed */
  }
  