

input[type="text"] {
    font-size: 20px;
    height: 26px;
    width: 57%;
}

.queryarea input {
    margin-top: 14px;
}

.queryarea button {
    margin-top: 12px;
}

.queryarea input,button {
    margin-left: 1px;
    margin-right: 1px;
}

.mat-button-toggle-group {
    height: 30px;
    align-items: center;
}

.searchButton {
    background-color: rgb(227, 227, 158);
    color: black;
    margin-right: 40px;
}

.resetButton {
    background-color: red;
}

.historySelect {
    float: right;
    padding-right: 20px;
    padding-bottom: 30px;
}

.historyToggle, .historySelect option {
    background-color: lightgray;
}


.spacer {
    margin-right: 40px;
}

.spacer2 {
    margin-right: 18%;
}


.whiteColor {
    color: white;
}

.remainingTimeInfo {
    background-color: red;
    color: white;
    font-size: 14pt;
}

.topicanswerbutton {
    background-color: rgba(0,110,0,0.8);
    color: white;
    padding: 2px;
    width: 100px;
}

.grayBackground {
    background-color: rgba(73,76,84,1); //lightgray;
    color: lightgray;
}

.videopreview {
    background-color: rgba(255,255,255,0.75);
    display: none;
    position: absolute;
    left: 5px;
    top: 140px;
    height: 100%;
    z-index: 10;
}

.videopreviewimage {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}