
<div class="queryarea">
    <a routerLink="/query" (click)="reloadComponent()"><img class="logo" src="assets/diveXplore_.png"></a>
    <!--<button class="backbutton" (click)="this.backInHistory()"><-</button>-->
    <select class="gray-background" [(ngModel)]="selectedDataset" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of datasets" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <select [(ngModel)]="selectedVideoFiltering" 
            [ngClass]="{'light-red-background': selectedVideoFiltering === 'first', 'light-blue-background': selectedVideoFiltering !== 'first'}" 
            (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of videoFiltering" [ngValue]="d.id">{{d.name}}</option>
    </select> 
    <select [(ngModel)]="selectedQueryType" (change)="resetPageAndPerformQuery()">
      <option *ngFor="let d of this.getQueryTypes(this.selectedDataset)" [ngValue]="d.id">{{d.name}}</option>
    </select>
    <input type="text" id="queryinput" name="queryinput" ngModel #inputfield [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()" autofocus/>
    <button class="searchButton" (click)="performNewTextQuery()">Search</button>
    
    <button class="newtab" (click)="newTab()">+Tab</button>
    <button class="historyToggle" (click)="toggleHistorySelect()">History</button>
    <button class="resetButton" (click)="resetQuery()">Reset</button>
    <button class="browseButton" (click)="browseClusters()">Xplore</button>
    
    <div class="historySelect" #historyDiv>
      <select [(ngModel)]="selectedHistoryEntry" value="" (change)="performHistoryQuery()">
        <option value="-1" selected disabled>-- Search History --</option>
        <option *ngFor="let h of history(); let i = index" [ngValue]="i">{{h}}</option>
      </select>
    </div>

    <button mat-icon-button (click)="showHelp()">
      <mat-icon>help</mat-icon>
    </button>
    
    <button mat-icon-button (click)="toggleConfigDialog()">
      <mat-icon>settings</mat-icon>
    </button>
</div>

<!-- Config Modal -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true" *ngIf="showConfigForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="configModalLabel">Configuration</h3>
        <!--<button type="button" class="close" aria-label="Close" (click)="closeConfigDialog()">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <app-config-form (closeForm)="toggleConfigDialog()"></app-config-form>
      </div>
    </div>
  </div>
</div>


  
<div class="queryarea">
  Pages: 
  <mat-button-toggle-group [(ngModel)]="selectedPage">
    <mat-button-toggle *ngFor="let p of pages" [value]="p" (click)="performQuery()" [disabled]="totalReturnedResults == 0">{{p}}</mat-button-toggle> 
  </mat-button-toggle-group>
  <span class="resultcount">{{totalReturnedResults}} results</span>
</div>
    
<br/>

<div class="queryresults-wrapper">

  <div *ngIf="showPreview" class="videopreview" #videopreview>
    <button class="videosummaryheader" (click)="showVideoShots(this.queryresult_videoid[this.selectedItem],this.queryresult_frame[this.selectedItem])">Video {{this.queryresult_videoid[this.selectedItem]}} ({{this.selectedItem+1}}/{{this.queryresult_videoid.length}})</button><br/>
    <img [src]="videopreviewimage" class="videopreviewimage" (click)="closeVideoPreview()">
  </div>
    
  <div (mouseover)="mouseOverShot(i)" (mouseleave)="mouseLeaveShot(i)" class="queryresult" *ngFor="let item of queryresults; let i = index">
    <img src="{{keyframeBaseURL}}/{{item}}" width="{{imgWidth}}" height="{{imgHeight}}" (click)="selectItemAndShowSummary(i,$event)" [ngClass]="{'blueborder': this.selectedItem == i}">
    <div class="lefttopcorner">
      <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'" class="resultnum">{{getTimeInformationFor(i)}}</span>
    </div>
    <div class="righttopcorner">
        <!--<span class="label" (click)="this.queryForVideo(i)">
            <a [routerLink]="['/video',this.queryresult_videoid[i],this.queryresult_frame[i]]" target="_blank">{{this.queryresult_videoid[i]}}</a>
        </span>-->
        <button class="smalllabel" (click)="this.queryForVideo(i)">{{this.queryresult_videoid[i]}}</button>
    </div>
    <div class="leftbottomcorner">
      <button *ngIf="showButtons === i" (click)="showVideoShots(this.queryresult_videoid[i],this.queryresult_frame[i])" class="resultaction">Shots</button>
      <button *ngIf="showButtons == i" (click)="performFileSimilarityQuery(item)" class="resultaction">Similar</button>
    </div>
    <div class="rightbottomcorner">
        <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton" (click)="submitResult(i)">Submit</button>
    </div>
  </div>

</div>

<div *ngIf="nodeServerInfo !== undefined" class="full-message">
  {{nodeServerInfo}}
  <button (click)="nodeServerInfo = undefined">Close</button>
</div>

<app-help-section *ngIf="showHelpActive" (clickOnClose)="showHelpActive = false"></app-help-section>

<app-message-bar></app-message-bar>
  
<div class="statusbar">
  <span class="{{clipService.connectionState}}">CLIP</span>
  <span class="{{nodeService.connectionState}}">Node</span>
  <span class="{{vbsService.vbsServerState}}">DRES</span>

  &nbsp; 
  <span>User: {{vbsService.activeUsername}}</span>
  <span *ngIf="vbsService.vbsServerState !== 'connected'" class="loginerror">Login-Error</span>
  
  <span class="tinyspacer">&nbsp;</span>

  <span class="whiteColor">Topic Answer:</span> 
  <input type="text" id="topicanswer" name="topicanswer" ngModel #inputfield [(ngModel)]="topicanswer" (keyup.enter)="sendTopicAnswer()" autofocus (focus)="onAnswerInputFocus()" (blur)="onAnswerInputBlur()" />
  <button class="topicanswerbutton" (click)="sendTopicAnswer()">Submit</button>
  

  <span class="spacer">&nbsp;</span>

  <span>
    <select class="grayBackground" [(ngModel)]="this.vbsService.selectedServerRun" value="0" (change)="selectRun()">
      <option *ngFor="let r of this.vbsService.serverRuns; let i = index" [ngValue]="i" [selected]="(i === 0 && this.vbsService.selectedServerRun === undefined) || (i === this.vbsService.selectedServerRun!)">{{r}}</option>
    </select>
  </span>
  &nbsp;
  <span>{{statusTaskInfoText}}</span>
  &nbsp;
  <span class="remainingTimeInfo" *ngIf="this.vbsService.selectedServerRun !== undefined" >{{getRemainingTaskTime()}}</span>
  
  <span class="minispacer">&nbsp;</span>

  <span class="submissionresponse">{{this.vbsService.submissionResponse}}</span>

  <span>DRES RTT: {{vbsService.serverTimeDiff}} ms</span>

</div>
  
<br/>&nbsp;
<br/>&nbsp;
<br/>&nbsp;