<div class="queryarea">

  <div class="topBarSim" *ngIf="isSimilarityQuery">
    <div class="queryarea">
      <a routerLink="/query"><img class="logo" src="assets/diveXplore_.png"></a>
      <span class="headertitle">Similarity Search</span>
      <span class="headerinfo">{{this.file_sim_keyframe}}</span>
      </div>
  </div>

  <div class="topBar" *ngIf="!isSimilarityQuery">
    
      <a routerLink="/query" (click)="reloadComponent()"><img class="logo" src="assets/diveXplore_.png"></a>
      <div class="top-bar-left">
      <div class="select-wrapper">
        <select class="gray-background top-bar-select" [(ngModel)]="selectedDataset"
          (change)="resetPageAndPerformQuery()">
          <option *ngFor="let d of datasets" [ngValue]="d.id">{{d.name}}</option>
        </select>
        <select class="top-bar-select" [(ngModel)]="selectedVideoFiltering"
          [ngClass]="{'light-red-background': selectedVideoFiltering === 'first', 'light-blue-background': selectedVideoFiltering !== 'first'}"
          (change)="resetPageAndPerformQuery()">
          <option *ngFor="let d of videoFiltering" [ngValue]="d.id">{{d.name}}</option>
        </select>
        <select class="top-bar-select" [(ngModel)]="selectedQueryType" (change)="resetPageAndPerformQuery()">
          <option *ngFor="let d of this.getQueryTypes(this.selectedDataset)" [ngValue]="d.id">{{d.name}}</option>
        </select>
      </div>
    </div>

    <div class="inputGroup">
      <input class="inputField" type="text" id="queryinput" name="queryinput" ngModel #inputfield
        [(ngModel)]="queryinput" (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()"
        (blur)="onQueryInputBlur()" placeholder="Input your query..." autofocus />
      <div *ngFor="let q of temporalQueries; let i = index" class="additionalQuery">
        <div class="arrowDown">&#x25BC;</div>
        <div class="inputWithIcon">
          <input class="inputField" type="text" [(ngModel)]="q.query" id="additionalQueryInput{{i}}"
            (keyup.enter)="performNewTextQuery()" (focus)="onQueryInputFocus()" (blur)="onQueryInputBlur()"
            placeholder="What should happen after?" />
          <span class="closeIcon" (click)="removeTemporalQuery(i)">&#x00D7;</span>
        </div>
      </div>
    </div>
    <button id="searchButton" class="basicButton" (click)="performNewTextQuery()">Search</button>


    <div class="top-bar-right">
      <button *ngIf="selectedQueryType == 'textquery'" class="basicButton" (click)="addTemporalQuery()">Add Temporal
        Query</button>
      <button id="resetButton" class="basicButton" (click)="resetQuery()">Reset</button>
      <button id="historyToggle" class="basicButton" (click)="showHistory()">History</button>
      <button class="basicButton" id="helpButton" mat-icon-button (click)="showHelp()">
        <mat-icon>help</mat-icon>
      </button>
      <button class="basicButton" id="configButton" mat-icon-button (click)="toggleConfigDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Config Modal -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel"
  aria-hidden="true" *ngIf="showConfigForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="configModalLabel">Configuration</h3>
      </div>
      <div class="modal-body">
        <app-config-form (closeForm)="toggleConfigDialog()"></app-config-form>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <div class="empty"></div>
  <div class="pagination-controls">
    Pages:
    <mat-button-toggle-group [(ngModel)]="selectedPage">
      <mat-button-toggle *ngFor="let p of pages" [value]="p" (click)="performQuery()"
        [disabled]="totalReturnedResults == 0">
        {{p}}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="resultcount">{{totalReturnedResults}} results</span>
  </div>
  <button id="newTab" class="basicButton" (click)="newTab()">+Tab</button>
</div>


<br />

<div class="queryresults-wrapper">
  <div class="backdrop" *ngIf="showPreview" (click)="closeVideoPreview()"></div>
  <div *ngIf="showPreview" class="videopreview">
    <div class="header-container">
      <div class="preview-switch">
        <button class="top-left-button" [class.active]="activeButton === 'image'" mat-icon-button matTooltip="Keyframe Preview" matTooltipPosition="above"
          (click)="setContent('image')">
          <mat-icon>crop_square</mat-icon>
        </button>
        <button class="top-left-button" [class.active]="activeButton === 'thumbnail'" mat-icon-button matTooltip="Summary Preview" matTooltipPosition="above"
          (click)="setContent('thumbnail')">
          <mat-icon>grid_view</mat-icon>
        </button>
        <button class="top-left-button" [class.active]="activeButton === 'video'" mat-icon-button matTooltip="Video Preview" matTooltipPosition="above"
          (click)="setContent('video')">
          <mat-icon>videocam</mat-icon>
        </button>
        <button class="top-left-button" [class.active]="activeButton === 'shots'" mat-icon-button matTooltip="Shotlist" matTooltipPosition="above"
          (click)="setContent('shots')">
          <mat-icon>search</mat-icon>
        </button>
        <!-- !!!!!!!!!!!!!!! Exploration Temporary disabled !!!!!!!!!!!!!!! 
        <button class="top-left-button" [class.active]="activeButton === 'explore'" mat-icon-button matTooltip="Explore View" matTooltipPosition="above"
          (click)="setContent('explore')">
          <mat-icon>explore</mat-icon>
        </button> -->
      </div>
      <button class="videosummaryheader" matTooltip="Go to Shotlist" matTooltipPosition="above"
        (click)="showVideoShots(this.queryresult_videoid[this.selectedItem],this.queryresult_frame[this.selectedItem])">Video
        {{this.queryresult_videoid[this.selectedItem] + " - Frame " + this.queryresult_frame[this.selectedItem] + " - Second " + this.getTimeInSecondsFor(this.selectedItem)}}
        ({{this.selectedItem+1}}/{{this.queryresult_videoid.length}})
        &nbsp; (click this bar to open shot view)
      </button><br />
        <button class="share-button" (click)="shareVideo()" matTooltip="Share Keyframe" matTooltipPosition="above" mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button *ngIf="!this.isVideoResult(this.querydataset)" class="submit-button" (click)="submitResult(this.selectedItem)" mat-icon-button matTooltip="Submit Keyframe" matTooltipPosition="above">
        <mat-icon>send</mat-icon>
        </button>
        <button class="close-button" (click)="closeVideoPreview()" mat-icon-button matTooltip="Close Window" matTooltipPosition="above">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="videopreview-content">
      <img *ngIf="currentContent === 'image'" [src]="videoLargePreview" class="videopreviewimage"
        (click)="closeVideoPreview()">
      <img *ngIf="currentContent === 'thumbnail'" [src]="videoSummaryPreview" class="videopreviewimage"
        (click)="closeVideoPreview()" (mouseenter)="this.isOverImage=true" (mouseleave)="this.isOverImage=false">
      <div *ngIf="currentContent === 'video'" class="videopreviewimage">
        <video #videopreview [src]="videoPlayPreview" controls></video>
        <!-- <img [src]="videoSummaryLargePreview" (click)="closeVideoPreview()"> -->
      </div>
      <!--  !!!!!!!!!!!!!!! Exploration Temporary disabled !!!!!!!!!!!!!!!
      <div *ngIf="currentContent === 'explore'" class="explore-container">
        <div class="explore-ui-overlay">
          <div class="explore-ui-slider">
            <input type="range" min="1" max="5" [(ngModel)]="columnsCountExplore">
            <p>Columns: {{columnsCountExplore}}</p>
          </div>
          <button (click)="loadMoreImages()" class="load-more-button">Load more</button>
        </div>
        <div #scrollableContainer class="explore-scroll-container">
          <img *ngFor="let imgUrl of displayedImages" loading="lazy" [src]="imgUrl" class="exploreimage"
            [style.width.%]="100 / columnsCountExplore - 2" (click)="exploreToShotlist(imgUrl)">
        </div>
      </div>
      -->
      <div *ngIf="currentContent==='shots'" class="shots-container">
        <div class="shots-ui-overlay">
          <div class="shots-ui-slider">
            <input type="range" min="5" max="10" [(ngModel)]="columnsCountShots">
            <p>Columns: {{columnsCountShots}}</p>
          </div>
          <button (click)="loadMoreShots()" class="load-more-button">Load more</button>
        </div>
        <div #scrollableContainer class="shots-scroll-container">
          <img *ngFor="let shotUrl of displayedShots" loading="lazy" [src]="shotUrl" class="shotimage"
            [style.width.%]="100 / columnsCountShots - 2" (click)="shotPreviewToShotList(shotUrl)">
        </div>
      </div>
    </div>
  </div>
  <div (mousemove)="onMouseMove($event, i)" (mouseenter)="mouseOverShot($event, i)" (mouseleave)="mouseLeaveShot(i)" class="queryresult"
    *ngFor="let item of displayQueryResult; let i = index">
    <div class="media-container">
      <img src="{{keyframeBaseURL}}/{{item}}" 
           (click)="selectItemAndShowSummary(i,$event)"
           width="{{imgWidth}}" height="{{imgHeight}}"
           [ngClass]="{'blueborder': this.selectedItem == i, 'submitted': isVideoSubmitted(item), 'hide': hoveredIndex === i && videoAvailable[i] && isMouseOverShot}">
      <video #videoPlayers width="{{imgWidth}}" height="{{imgHeight}}" 
            (click)="selectItemAndShowSummary(i,$event)"
            (mouseleave)="onMouseLeave()" (mouseenter)="onMouseEnter()"
            (loadedmetadata)="videoReady[i] = true" 
            *ngIf="videoAvailable[i] == true"
            [ngClass]="{'hide': hoveredIndex !== i && isMouseOverShot}" 
            [src]="videoSource" muted>
      </video>
  </div>
    <div class="lefttopcorner">
      <span *ngIf="showButtons === i && this.queryresult_frame[i] !== 'summary'"
        class="resultnum" (click)="shareVideo(i)">{{getTimeInformationFor(i)}}</span>
      <span *ngIf="isVideoSubmitted(item)" class="submitted-text">Submitted</span>
    </div>
    <div class="righttopcorner">
      <button class="smalllabel" (click)="this.queryForVideo(i)">{{this.queryresult_videoid[i]}}</button>
    </div>
    <div class="leftbottomcorner">
      <button *ngIf="showButtons === i" (click)="showVideoShots(this.queryresult_videoid[i],this.queryresult_frame[i])"
        class="resultaction shotbutton">Shots</button>
      <button *ngIf="showButtons == i" (click)="performFileSimilarityQuery(item)" class="resultaction similarbutton">Similar</button>
    </div>
    <div class="rightbottomcorner">
      <button *ngIf="showButtons === i && !this.isVideoResult(this.querydataset)" class="submitbutton"
        (click)="submitResult(i)">Submit</button>
    </div>
  </div>
</div>

<div *ngIf="nodeServerInfo !== undefined" class="full-message">
  {{nodeServerInfo}}
  <button (click)="nodeServerInfo = undefined">Close</button>
</div>

<app-help-section *ngIf="showHelpActive" (clickOnClose)="showHelpActive = false"></app-help-section>

<app-history-dialog *ngIf="showHistoryActive" (clickOnClose)="showHistoryActive = false"
  (historySelected)="performHistoryQuery($event)"></app-history-dialog>

<app-message-bar></app-message-bar>

<app-toast 
[toastMessage]="toastMessage"
[toastMessageNewLine]="toastMessageNewLine"
[showToast]="showToast"
[toastLink]="toastLink"
[imageSrc]="toastImageSrc"
(closeToast)="handleToastClose()">
</app-toast>

<app-status-bar (answerFieldFocusChange)="handleAnswerFieldFocusChange($event)"></app-status-bar>

<br />&nbsp;
<br />&nbsp;
<br />&nbsp;